@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar pero permitir scroll */
.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE y Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Opera */
}
